.test {
    line-height: 150%;
    margin: 10px 0;
}

.table {
    position: relative;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 6px);
    /*padding: 20px 0 0 0;*/
    position: absolute;
    bottom: 8px;
    z-index: 210;
    background: #fff;
    right: 5px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    .actions{
        grid-template-columns: repeat(1, 1fr);
    }

    .empty{
        display: none;
    }
}

