.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 15px;
    width: 100%;
}

.content {
    width: 100%;
    border: 1px solid rgb(244, 245, 246);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item_o {
    background: rgb(244, 245, 246);
}

.wrapper {
    display: grid;
    grid-row-gap: 20px;
    width: 100%;
}

.documents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.verf_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .verf_box {
        display: flex;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }

    .verf_box h4 {
        font-size: 18px;
        margin-top: 10px !important;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .documents{
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
}
