.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 15px;
    width: 100%;
}

.content {
    width: 100%;
    border: 1px solid rgb(244, 245, 246);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item_o {
    background: rgb(244, 245, 246);
}

.wrapper {
    display: grid;
    grid-row-gap: 20px;
    width: 100%;
}

.documents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.verf_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
