.header {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header_left {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
}
